<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter a new user</title>
</head>
<body>
    <form method="POST" action="/user">
          <textarea name="username" placeholder="enter username"></textarea>
          <br>
          <textarea name="email" placeholder="enter emailId"></textarea>
          <br>
          <input type="password"  name="password" />
           
          <button>Submit</button>
          
    </form>
    
</body>
</html>